{% extends 'tasks/base.html' %}

{% block content %}
    <h1>Список задач</h1>
    <ul>
        {% for task in tasks %}
            <li>
                <span style="{% if task.completed %}text-decoration: line-through;{% endif %}">
                    {{ task.title }}
                </span>
                <a href="{% url 'task_complete' task.pk %}">[✓ Завершить]</a>
                <a href="{% url 'task_update' task.pk %}">[Ред.]</a>
                <a href="{% url 'task_delete' task.pk %}" style="color: red;">[Удалить]</a>
            </li>
        {% empty %}
            <li>Пока нет задач. Создай первую!</li>
        {% endfor %}
    </ul>
{% endblock %}